html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	-webkit-text-size-adjust: 100%;
}

html { 
	height: 100%;
	overflow: scroll;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-text-size-adjust: 100%;
}

body { 
	font-size: 13px; 
	line-height: 1em; 
	color: #515151;
	background: #e3e4e5;
	position: relative;
	line-height: 18px;
	font-size: 14px;

    font-family:"Helvetica Neue", Arial, sans-serif;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }


a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #515151;
}


p {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	line-height: 1.2em
}

hr {
	border: 0;
    height: 1px;
    background: #dbdbdb;
}



.prefix-clear:after {
	display: table;
	content: "";
	clear: both;
}



/**********************************************/
/************** logo Wrapper ******************/


#logo {
	margin: 3px 0px 3px 10px; 
	font-family: Georgia,Times,"Times New Roman",serif;
}

#logo a {
	color: #e74c3c;
}




/**********************************************/
/************** Header Wrapper ******************/
.account-wrapper {
}

.account-btn {
	display: block;
	border: 2px solid rgba(189, 195, 199,1.0);
	padding: 5px 15px;
	border-radius: 3px;
}

.account-btn:hover {
	border: 2px solid #008bbb;
	color: #fff !important;
	background: #008bbb;
}

.account-wrapper {
	position: relative;
	cursor: pointer;
}

.account-container > li {
	display: inline-block;
	margin: 0px 5px;
}

.account-notify .fa {
	font-size: 14px;
}
.account-notify a {
	background: rgba(189, 195, 199, 0.7);
	padding: 7px;
	display: block;
	border-radius: 3px;
}
.account-notify a:hover,
.account-notify .active {
	background: rgba(231, 76, 60, 0.7);
	color: #fff;
}
.account-avatar {
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	overflow: hidden;
	background: rgba(189, 195, 199, 0.7);
}

.account-avatar img {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
}

.account-avatar .fa {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	padding: 8px 10px;
}
/*
.account-profile {
	position: relative;
}

.account-profile:hover > .account-nav-wrapper {
	display: block;
}
.account-nav-wrapper {
	padding-top: 10px;
	position: absolute;
	display: none;
	min-width: 100%;
	z-index: 999;
}

.account-nav {
	width: 100%;
	background: #fff;
	padding: 5px;
	border: 1px solid #dbdbdb;
}

.account-nav li a {
	display: block;
	padding: 7px 10px;
	border-bottom: 1px solid #dbdbdb;
}

.account-nav input[type='submit'] {
	background: #fff;
	padding: 5px 10px;
	display: block;
	cursor: pointer;
	font-size: 14px;
	color: #515151;
    font-family:"Helvetica Neue", Arial, sans-serif;
}*/

#logout-btn input[type="submit"] {
	background: #fff;
	padding: 5px 10px;
	display: block;
	width: 100%;
	text-align: left;
	border-top: 1px solid #dbdbdb;
	font-size: 13px;
	color: #7f8c8d;
}
#logout-btn input[type="submit"]:hover {
	color: #515151;
}
/**********************************************/
/************** Header Wrapper ******************/
.header-wrapper {
	background: #fff;
	border-bottom: 1px solid #dbdbdb;
	/*-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);*/
	position: relative;
	padding: 10px;
}

.header-nav {
	margin-left: 125px;
}
.header-nav li {
	display: inline-block;
}

.header-nav li a {
	display: block;
	cursor: pointer;
	padding: 5px;
}



.mega-trigger:hover .mega-wrapper{
	display: block;
}

.mega-wrapper {
	z-index: 1;
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 10px;
}

.mega-menu {
	background: #fff;
	width: 100%;
	position: relative;
	border: 1px solid #c7c7c7;
	box-shadow: 0px 1px 1px 1px #dbdbdb;
}



/**********************************************/
/************** Footer Wrapper ******************/
.footer-wrapper {
	background: none repeat scroll 0 0 #666666;
	padding: 40px;
	color: #fff;
	position: relative;
}

.footer-loader {
	position: absolute;
	top: 0px;
	margin: auto;
	background: #e1e5e7;
	border-radius: 0px 0px 5px 5px;
	padding: 5px 20px;
}
.footer-loader .fa {
	font-size: 24px;
}


.footer-content {
	padding: 10px;

}

.footer-content ul {
	padding: 10px;
	display: inline-block;
}

.footer-content h3 {
	color: #fff;
}
.footer-content a {
	color: #95a5a6;
}


#mini-footer li {
	display: inline-block;
}

#mini-footer li a {
	display: block;
	margin: 5px;
	font-size: 11px;
	color: rgba(149, 165, 166,1.0);
	font-weight: bold;
}

#mini-footer li a:hover {
	color: #515151;
}

/*******************************************************/
.main-content {
	padding: 5px 20px;
	margin: auto;
}

.main-content-11 {
	padding: 5px 20px;
	max-width: 1100px;
	margin: auto;
}

.main-wrapper {
	margin-left: 75px;
}





/**********************************************/
/************** Main Navigation ***************/
.mnav-wrapper {
	position: fixed;
	width: 75px;
	height: 100%;
	background: #1E2123;
	color: #cecece;
	z-index: 99;
	text-align: center;
}


.mnav-container {
	background: rgba(44, 62, 80, 0.6);
	height: 100%;
	position: relative;
}

.mnav-wrapper li {
	cursor: default;
}

.mnav-wrapper ul a {
	padding: 15px 5px;
	display: block;
	font-size: 11px;
	color: #bdc3c7;
}

.mnav-wrapper a > span {
	line-height: 1.6em;
	display: block;
	color: #bdc3c7;
}

.mnav-wrapper li a.active,
.mnav-wrapper li a:hover {
	background: rgba(52, 73, 94,1.0);
	color: #fff;
}


#mnav-footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 9;
	background: transparent;
}

#mnav-footer a {
	background: rgba(192, 57, 43,1.0);
	color: rgba(189, 195, 199,1.0);
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: Georgia,Times,"Times New Roman",serif;
}
#mnav-footer a:hover {
	background: #e74c3c;
	color: #fff;
}


#nav-profile-holder {
 	margin: auto;
  	position: relative;
  	overflow: hidden;
  	width: 100%;
}
#nav-profile-holder a {
	display: block;
	margin: auto;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}


#nav-profile-holder img {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
}








/*******************************************************/
/*************** Intro box *****************************/
.intro-box {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.intro-box img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	min-width: 100%;
	max-height: 100%;
	margin: auto;
}

.intro-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.intro-hl {
  text-shadow: 0px 1px 1px #333;
}


















/********************************************************/
/********** Profile nav *********************************/
.profile-nav {
	width: 250px;
	height: 100%;
	background: #fff;
	position: fixed;
}


